@{
                /**/

                ViewBag.Title = "Home Page for authentication";
}

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="jumbotron">
        <h2>Your are login as Admin role</h2>
        <p class="lead">As Admin you are allowed to register for new user </p>
        <p>@Html.ActionLink("Register New User", "Register", "Account")</p>
    </div>
}
else
{
    <div class="jumbotron">
        <h2>Your are login as User role</h2>
        <p class="lead">As User you are not allow to register for new user </p>
        
    </div>
}

